body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

.center-section {
    text-align: center;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
    color: #555;
}

.bold {
    font-weight: bold;
}

.box {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#messages-container {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

#messages-container strong {
    display: inline-block;
    margin-bottom: 5px;
}

.pagination-container {
    margin-top: 10px;
}

.pagination-container span {
    margin: 0 5px;
    cursor: pointer;
}

.current-page {
    font-weight: bold;
}

.pagination-container span.current-page {
    background-color: #007bff; /* 设置蓝色背景颜色 */
    color: #fff; /* 设置文本颜色为白色 */
    padding: 5px 10px; /* 调整内边距，使高亮更明显 */
    border-radius: 4px; /* 圆角边框 */
}

/* 新添加的样式 */
.login-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}